<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">       
        <img src="../../../assets/img/fotoperfil.jpeg" id="avatar__image"/>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombre-titulo">
        <h2 id="nombre">{{persona.nombre}}{{" "}}{{persona.apellido}}</h2>
        <h6>Full Stack Developer JR</h6>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">   
        <h2>About me</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores a laudantium
         quasi aperiam est amet eligendi nemo tenetur iusto? Esse nobis, temporibus labore
         voluptatibus quisquam itaque obcaecati quod error ex?</p>
    </div>
</div>  

