<div class="row">
    <h2>Education</h2>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11" id="estudios">
        <ul>
            <li><h3>Estudios 1</h3> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam vitae eius voluptatem quae enim debitis aliquam quaerat molestias eum! Eligendi esse sit accusamus fuga nulla doloribus, nam magni deserunt neque.</p>
        </ul>
        <ul>
            <li><h3>Estudios 2</h3> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam vitae eius voluptatem quae enim debitis aliquam quaerat molestias eum! Eligendi esse sit accusamus fuga nulla doloribus, nam magni deserunt neque.</p>
        </ul>
        <ul>
            <li><h3>Estudios 3</h3> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam vitae eius voluptatem quae enim debitis aliquam quaerat molestias eum! Eligendi esse sit accusamus fuga nulla doloribus, nam magni deserunt neque.</p>
        </ul>
    </div>
</div>
