<div class="row">
    <div class="container">
        <div id="logo-ap">
            <img src="../../../assets/img/APLogo.png"/> 
        </div>
        <div id="iconos">   
                <a target="_blank" href="https://github.com/wmartin027"><img src="../../../assets/img/logotipo-de-github.png" /></a>      
                <a target="_blank" href="https://www.linkedin.com/in/wanda-martin/"><img src="../../../assets/img/linkedin.png" /></a>
                <button type="button" class="btn btn-outline-primary" (click)="login()" >Log In</button>
        </div>
    </div>
</div>