.row {
    background-color:#0e0255;
    padding: 1rem;
    }

p{
    margin: 0;
    color: white;
}

.conteiner{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.links{
    padding-top: 10px
}