<div class="row">
    <h2>Proyects</h2>
        <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4>Nombre de proyecto 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequuntur soluta unde eligendi modi natus ut similique, rerum odit laudantium quo numquam aperiam debitis autem. Rem consequatur perspiciatis officia quibusdam.</p>
        </div>
        <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6" >
            <img src="../../../assets/img/NoImage.avif" class="img-fluid" />
        </div>
         <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h4>Nombre de proyecto 2</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic consequuntur soluta unde eligendi modi natus ut similique, rerum odit laudantium quo numquam aperiam debitis autem. Rem consequatur perspiciatis officia quibusdam.</p>
        </div>
        <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6" >
            <img src="../../../assets/img/NoImage.avif" class="img-fluid"/>
        </div> 
</div>
