<div class="row">
    <h2>Hard & soft skills</h2>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="80"
            [radius]="60"
            [title]="'HTML'"
            [titleColor]="'#000000'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#F633FF'"
            [innerStrokeColor]="'#09065B'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="65"
            [radius]="60"
            [title]="'CSS'"
            [titleColor]="'#000000'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#F633FF'"
            [innerStrokeColor]="'#09065B'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="60"
            [radius]="60"
            [title]="'JAVASCRIPT'"
            [titleColor]="'#000000'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#F633FF'"
            [innerStrokeColor]="'#09065B'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="65"
            [radius]="60"
            [title]="'ANGULAR'"
            [titleColor]="'#000000'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#F633FF'"
            [innerStrokeColor]="'#09065B'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="50"
            [radius]="60"
            [title]="'GITHUB'"
            [titleColor]="'#000000'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#F633FF'"
            [innerStrokeColor]="'#09065B'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="60"
            [radius]="60"
            [title]="'SCRUM'"
            [titleColor]="'#000000'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#F633FF'"
            [innerStrokeColor]="'#09065B'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="70"
            [radius]="60"
            [title]="'ENGLISH'"
            [titleColor]="'#000000'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#F633FF'"
            [innerStrokeColor]="'#09065B'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
    <div class="text-center col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <circle-progress
            [percent]="100"
            [radius]="60"
            [title]="'TEAM-WORK'"
            [titleColor]="'#000000'"
            [titleFontSize]="'1em'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#F633FF'"
            [innerStrokeColor]="'#09065B'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>
    </div>
</div>
